@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html {
    scroll-behavior: smooth;
}

:root {
  background-color: #fefefe;
  filter: invert(85%);
}
body {
    margin: 0;
    text-align: center;
    background: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
